@charset "UTF-8";

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Light.woff2"), url("../fonts/Inter-Light.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.woff2"), url("../fonts/Inter-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Medium.woff2"), url("../fonts/Inter-Medium.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Bold.woff2"), url("../fonts/Inter-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'PT Sans', sans-serif;
  color: #2d2d2d;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: 'Inter';
  font-style: normal;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.container {
  max-width: 1694px;
  margin: 0 auto;
  padding: 0 0px;
}

.header__inner {
  text-align: right;
  margin: 40px 0px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-text a {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #000;
  margin: 0 0 0 14px;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  margin: 0 0 16px 0;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 16px 0;
}

.hero {
  margin: 0 0 40px 0;
}

.hero__image-mobile {
  display: none;
}

.hero__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__column-left {
  width: 58%;
  z-index: 1;
}

.hero__column-right {
  width: 42%;
  z-index: 0;
}

.hero__link {
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #1A16E4;
  margin: 0 0 52px 0;
}

.hero__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 78px 0;
}

.hero__text p {
  margin: 0 0 80px 0;
}

.hero__text ul {
  margin: 0 0 66px 0;
}

.hero__text ul li {
  list-style-type: disc;
}

.hero__button {
  margin: 120px 0 160px 0;
}

.hero__button a {
  padding: 21px 88px;
  background: #6BA1F2;
  border-radius: 50px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.hero__button a:hover {
  text-decoration: none;
  background: #719ad6;
}

.hero__image img {
  position: absolute;
  top: 20%;
  left: 37%;
}

.footer__items {
  margin: 40px 0px;
}

.footer__items a:first-child {
  margin: 0 65px 0 0;
}

@media (max-width: 1695px) {
  .container {
    max-width: 1400px;
  }

  .hero__image img {
    width: 65%;
    left: 30%;
  }
}

@media (max-width: 1499px) {
  .container {
    max-width: 1000px;
  }

  .hero__button {
    margin: 80px 0 80px 0;
  }

  .hero__image img {
    width: 60%;
    top: 30%;
    left: 35%;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 40px;
  }

  .header__inner {
    text-align: center;
  }

  .header__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  h1 {
    font-size: 74px;
  }

  .hero {
    margin: 0;
  }

  .hero__image-mobile {
    display: block;
    margin: 20px auto;
  }

  .hero__image-mobile img {
    width: 100%;
  }

  .hero__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .hero__column-left,
  .hero__column-right {
    width: 100%;
  }

  .hero__text p {
    margin: 0 0 20px 0;
  }

  .hero__button {
    text-align: center;
    margin: 60px auto;
  }

  .hero__image {
    display: none;
  }

  .hero__image img {
    position: static;
    width: 100%;
  }

  .footer__items {
    text-align: center;
  }

  .footer__items a:first-child {
    margin: 0 33px 0 0;
  }
}